footer{
  font-size: 1.5em;
  font-style: italic;
  font-weight: bolder;
  border-top: sienna solid;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin-top: 1.5em;
  width: 30em;
  color: darkgoldenrod;
}
