section{
  padding: 1em;
  background: lightblue;
  width: 400px;
}

h1{
  color:blue;
  text-align: center;

}

h2{
  color: blue;
}

label.output-label{
  color: red;
  font-weight: bolder;
}

span.output-value{
  font-weight: bolder;
  font-style: italic;
  color: Blue;
  margin-left: 1em;
}

a{
  color: blue;
  font-weight: bolder;

}

